.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: 100;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 75%,
    rgba(255, 255, 255, 0.9) 80%,
    rgba(255, 255, 255, 0.25) 95%,
    rgba(255, 255, 255, 0) 100%
  );
}

.text {
  font-family: "Yanone Kaffeesatz";
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.text .wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.text .wrapper .letter {
  transition: ease-out 1s;
  transform: translateY(40%);
}

.text .wrapper .shadow {
  transform: scale(1, -1);
  color: #999;
  transition: ease-in 5s, ease-out 5s;
}

.text .wrapper:hover .letter {
  transform: translateY(-15%);
}

.text .wrapper:hover .shadow {
  opacity: 0;
  transform: translateY(15%);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top:2%;
  gap:5px;
}

.button{
  width: 25%;
  margin:0;
}



h2 {
  font-weight: bold;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .overlay {
    height: 20vh;
  }

  .text {
    font-size: 60px;
  }

  .text .wrapper .letter {
    transform: translateY(20%);
  }

  
 .search{
  width:80%;
 }

  h2{
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .overlay {
    height: 10vh;
  }

  .text {
    font-size: 30px;
  }

  .text .wrapper .letter {
    transform: translateY(10%);
  }

  .text .wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 320px) {
  .overlay {
    height: 5vh;
  }

  .text {
    font-size: 30px;
  }

  .text .wrapper .letter {
    transform: translateY(5%);
  }
}
